    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Sobre <span class="light">#Espai</span>Sid</h2>
                    <p>#EspaiSid és un projecte per compartir idees, dialogar sobre art i també inspirar i desenvolupar projectes de creació artística. Un espai per oferir una botiga efímera o exposició temporal per a artistes i marques permetent, així, connectar amb el públic  per compartir, entretenir-se i reunir-se, oferint una experiència oberta, atractiva i innovadora.</p>
                </div>
            </div>
        </div>
    </section>