    <!-- Filosofia Section -->
    <section id="portfoli" class="content-section text-center no-padding">
        <div class="portfoli-section">
            <div class="yellow-bg">
                <div class="container">
                  <h2>Portfoli d'<span class="light">#Espai</span>Sid</h2>
                  <div class="row">    
                      {% for portfoli in site.data.portfoli %}
                          <div class="col-sm-4 portfolio-item">
                              <a href="#portfolioModal-{{ portfoli.id }}" class="portfolio-link" data-toggle="modal">
                                  <div class="caption">
                                      <div class="caption-content">
                                          <i class="fa fa-search-plus fa-3x"></i>
                                      </div>
                                  </div>
                                  
                                    <div class="padding-artwork-container">
                                      <img src="/images/{{ portfoli.featured-img }}" alt="{{ portfoli.short-description }}">
                                    </div>
                              </a>
                          </div>
                      {% endfor %}
                  </div>
                </div>
            </div>
        </div>
    </section>